<p>user-info works!</p>

<div class="container">
  <div class="row">
    <div class="col-4">100</div>
    <div class="col-4">

    <span>nguyenhuutoandn&#64;.com</span>

    </div>
    <div class="col-2">
      <a href="#"> edit</a>
    </div>
    <div class="col-2">
      <a href="#"> delete</a>
    </div>
  </div>

  <div class="row">
    <div class="col-4">200</div>
    <div class="col-4">

      <span>xxx&#64;.com</span>

    </div>
    <div class="col-2">
      <a href="#"> edit</a>
    </div>
    <div class="col-2">
      <a href="#"> delete</a>
    </div>
  </div>
</div>
