<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">

<head>
	<title>Page Title</title>

	<style>
		* {
			box-sizing: border-box;
		}

		.flex-container {
			display: flex;
			flex-direction: row;
			/*font-size: 30px;*/
			/*text-align: center;*/
		}

		.flex-item-left {
			/*background-color: #f1f1f1;*/
			/*padding: 10px;*/
			padding-right: 11px;
			flex: 50%;
		}

		.flex-item-right {
			/*background-color: dodgerblue;*/
			/*padding: 10px;*/
			padding-left: 11px;
			flex: 50%;
		}

		/* Responsive layout - makes a one column-layout instead of two-column layout */
		@media (max-width: 800px) {
			.flex-container {
				flex-direction: column;
			}
		}
	</style>

</head>

<body>
	<div layout:fragment="content">
<!--		<div>-->
			<div class="flex-container">
				<div class="flex-item-left">

					<div class="row">
						<div class="col-sm-12" style="margin-bottom: 35px; ">

							<div style="overflow: hidden; width: 100%; height: 200px;   background-color: #6db33f; border: 1px solid red;">
								<div class="row" style="margin-bottom: 5px;">

									<div class="col-sm-4" >
										<div class="row">
											<div>
												<img th:src="@{/images/ecommerce.jpg}" class="d-block w-100 h-100" alt="...">
											</div>
										</div>
										<div class="row">
											<div>
												<img th:src="@{/images/springjava.PNG}" class="d-block w-100 h-100" alt="...">
											</div>
										</div>

									</div>

									<div class="col-sm-8">
										<div style="padding-right: 10px;">

											<div style="width: 100%; padding-bottom: 15px; text-align: center;">
												<span style="font-size: 22px; color: white; font-weight: bold;">
													Real e-commerce project
												</span> </br>
												<span
													style="width: 100%; text-align: center; color: red; font-weight: bold; font-size: 18px;">
													Price: 999$
												</span>
											</div>

											<div style="padding-bottom: 5px;">
												<span>Download full source code</span></br>
												<span>Video + Guides</span></br>
												<span>Java 11+, Spring boot, Mysql</span>
											</div>

											<div style="text-align: right;">
												<a th:href="@{/course/ecommerce_java}" class="btn btn-primary">View
													detail</a>
											</div>

										</div>

									</div>

								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col">
							<div style="border: 1px solid red; height: 200px; ">
								<div class="row">
									<div class="col-sm-12">
										<div style="width: 100%; padding-bottom: 15px; text-align: center;">
											<span style="font-size: 22px; font-weight: bold;">
												Oracle Certified Professional Java SE 17 (1z0-829)
											</span> </br>
											<span
												style="width: 100%; text-align: center; color: red; font-weight: bold; font-size: 18px;">
												Price: 39$
											</span>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-4">
										<div>
											<img th:src="@{/images/OCPJSE17.jpg}" class="d-block w-100" alt="...">
										</div>
									</div>

									<div class="col-sm-8">
										<div style="padding-right: 10px;">
											<div style="padding-bottom: 5px;">
												<span>Real Oracle 1z0-829 Exam</span></br>
												<span>50 question</span></br>
												<span>Download PDF file</span>
											</div>

											<div style="text-align: right;">
												<a th:href="@{/course/downloadFile?filename=1z0829}"
													class="btn btn-primary">Free
													dowload</a>
												<a th:href="@{/payment/checkout/course/1z0-829?discountCode=xxxx}"
													class="btn btn-primary">Buy full PDF</a>
											</div>
										</div>

									</div>


								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="flex-item-right">

					<div style="overflow: hidden; margin-bottom: 35px; height: 200px; background-color: #44B78B; border: 1px solid red;">
						<div class="row">

							<div class="col-sm-4">
								<div class="row">
									<div>
										<img th:src="@{/images/ecommerce.jpg}" class="d-block w-100" alt="...">
									</div>
								</div>
								<div class="row">
									<div>
										<img th:src="@{/images/python.jpeg}" class="d-block w-100" alt="...">
									</div>
								</div>

							</div>

							<div class="col-sm-8">
								<div style="padding-right: 10px;">

									<div style="width: 100%; padding-bottom: 15px; text-align: center;">
										<span style="font-size: 22px; color: white; font-weight: bold;">
											Real e-commerce project
										</span> </br>
										<span
											style="width: 100%; text-align: center; color: red; font-weight: bold; font-size: 18px;">
											Price: 999$
										</span>
									</div>

									<div style="padding-bottom: 5px;">
										<span>Download full source code</span></br>
										<span>Video + Guides</span></br>
										<span>Pythonh XX+, Diango, Mysql</span>
									</div>

									<div style="text-align: right;">
										<a th:href="@{/course/ecommerce_python}" class="btn btn-primary">View
											detail</a>
									</div>

								</div>

							</div>

						</div>
					</div>

					<div style="margin-bottom: 35px; height: 200px;  border: 1px solid red;">
						<div class="row">
							<div class="col-sm-12">
								<div style="width: 100%; padding-bottom: 15px; text-align: center;">
									<span style="font-size: 22px; font-weight: bold;">
										PCAP: Certified Associate in Python
									</span> </br>
									<span
										style="width: 100%; text-align: center; color: red; font-weight: bold; font-size: 18px;">
										Price: 39$
									</span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-4">
								<div>
									<img th:src="@{/images/OCPJSE17.jpg}" class="d-block w-100" alt="...">
								</div>
							</div>

							<div class="col-sm-8">
								<div style="padding-right: 10px;">
									<div style="padding-bottom: 5px;">
										<span>Real PCAP Exam</span></br>
										<span>145 question</span></br>
										<span>Download PDF file</span>
									</div>

									<div style="text-align: right;">
										<a th:href="@{/course/downloadFile?filename=PCAP}" class="btn btn-primary">Free
											dowload</a>
										<a th:href="@{/payment/checkout/course/PCAP?discountCode=xxxx}"
											class="btn btn-primary">Buy full PDF</a>
									</div>
								</div>

							</div>


						</div>
					</div>

					<div style=" height: 200px;  border: 1px solid red;">
						<div class="row">
							<div class="col-sm-12">
								<div style="width: 100%; padding-bottom: 15px; text-align: center;">
									<span style="font-size: 22px; font-weight: bold;">
										PCPP-32-101: Certified Professional in Python
									</span> </br>
									<span
										style="width: 100%; text-align: center; color: red; font-weight: bold; font-size: 18px;">
										Price: 39$
									</span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-4">
								<div>
									<img th:src="@{/images/OCPJSE17.jpg}" class="d-block w-100" alt="...">
								</div>
							</div>

							<div class="col-sm-8">
								<div style="padding-right: 10px;">
									<div style="padding-bottom: 5px;">
										<span>Real PCPP-32-101 Exam</span></br>
										<span>50 question</span></br>
										<span>Download PDF file</span>
									</div>

									<div style="text-align: right;">
										<a th:href="@{/course/downloadFile?filename=PCPP_32_101}"
											class="btn btn-primary">Free dowload</a>
										<a th:href="@{/payment/checkout/course/PCPP_32_101?discountCode=xxxx}"
											class="btn btn-primary">Buy full PDF</a>
									</div>
								</div>

							</div>


						</div>
					</div>


				</div>
			</div>
<!--		</div>-->

	</div>
</body>

</html>